.App {
  text-align: center;
}

.App-header {
  background-color: #f8f524;
  min-height: 70px;
  padding: 20px;
  color: rgb(0, 77, 243);
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}